<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyne.module.system.mapper.SysAccountInfoMapper">

    <!--分页查询-->
    <select id="selectByPage" resultType="com.lyne.common.core.types.SysAccountInfo">
        select accountId,
               sex,
               age,
               phone,
               email,
               avatar,
               sign,
               createBy,
               createDate,
               updateBy,
               updateDate
        from sys_account_info
    </select>

</mapper>